<div
      class="dark:text-white scroll-mt-16 text-center sm:text-3xl text-2xl sm:mt-20 mt-12 mx-4"
      data-aos="fade-down"
    >
      <p class="sm:text-4xl text-3xl font-bold sm:mb-3 text-violet-800">
        acetundiego@gmail.com
      </p>
      <p>
        Soy desarrollador web. Me encanta trabajar en equipo. Soy una persona
        que siempre está dispuesta a aprender nuevas tecnologías y frameworks.
        Actualmente soy estudiante de la carrera de Ingeniería en Sistemas en la
        Universidad de San Carlos de Guatemala.
      </p>
    </div>