---
import { Icon } from "astro-icon";
---

<nav
  class="text-black bg-gray-300 dark:text-white dark:bg-black py-1 w-screen fixed top-0 z-10 opacity-90 md:opacity-100"
>
  <div class="flex flex-wrap items-center justify-around">
    <a href="#" class="flex items-center">
      <!-- <FontAwesomeIcon
            icon={faAddressCard}
            size="1x"
            class="text-3xl"
          /> -->
      <Icon
        name="mdi:card-account-details-outline"
        class="w-8 icon-change-scale"
      />
    </a>
    <!-- <div class="md:hidden">
      <ul class="flex space-x-8 text-3xl">
        <li class="hover:bg-transparent">
          <a href="https://github.com/d-acetun">
            <Icon name="mdi:github" class="w-8 icon-change-scale" />
          </a>
        </li>
        <li class="hover:bg-transparent">
          <a href="https://t.me/DiegoAcetun">
            <Icon name="ic:outline-telegram" class="w-8 icon-change-scale" />
          </a>
        </li>
        <li class="hover:bg-transparent">
          <a href="https://t.me/DiegoAcetun">
            <Icon name="ic:outline-telegram" class="w-8 icon-change-scale" />
          </a>
        </li>
      </ul>
    </div> -->

    <div
      class="bg-gray-300 dark:bg-black -translate-y-96 md:translate-y-0 w-full md:flex md:w-auto md:static absolute mb-6 md:mb-0 transition-transform duration-1000"
      id="menu"
    >
      <ul
        class="flex flex-col md:flex-row md:space-x-8 md:text-3xl text-3xl space-y-3 md:space-y-0 items-center"
      >
        <li class="">
          <a href="#projects" class="" aria-current="page"> Proyectos</a>
        </li>
        <li>
          <a href="#devSkills" class=""> Desarrollo</a>
        </li>
        <li>
          <a href="#skills" class=""> Habilidades</a>
        </li>
      </ul>
    </div>
    <div class="flex space-x-8 text-3xl">
      <!-- <li class="md:flex hidden"> -->
      <button id="dark">
        <Icon
          name="ic:baseline-dark-mode"
          class="w-8 icon-change-scale"
          id="icon-dark-mode"
        />
        <Icon
          name="ic:baseline-light-mode"
          class="w-8 icon-change-scale hidden"
          id="icon-light-mode"
        />
      </button>
      <!-- </li> -->
      <a href="https://github.com/d-acetun">
        <Icon name="mdi:github" class="w-8 icon-change-scale" />
      </a>

      <!-- <li class="md:flex hidden"> -->
      <a href="https://t.me/DiegoAcetun">
        <Icon name="ic:outline-telegram" class="w-8 icon-change-scale" />
      </a>
      <!-- </li> -->
    </div>
    <button
      data-collapse-toggle="navbar-default"
      type="button"
      class="inline-flex items-center text-3xlrounded-lg md:hidden"
      id="menuButton"
    >
      <!-- <FontAwesomeIcon icon={faBars} size="1x" /> -->
      <Icon name="radix-icons:hamburger-menu" class="w-8 icon-change-scale" />
    </button>
  </div>
</nav>
