---
import Card from "../components/Card.astro";

const skills = [
  {
    icon: "logos:nestjs",
    title: "NestJS",
    description: "Nest CLI, Controladores y enrutamiento, DTO'S, Servicios e inyección de dependencias, Pipes",
  },
  {
    icon: "vscode-icons:file-type-angular",
    title: "Angular",
    description:
      "Angular CLI, Manejo de estado, Servicios e inyección de dependencias, rxjs, Pipes, Guards",
  },
  {
    icon: "vscode-icons:file-type-typescript-official",
    title: "Typescript",
    description:
      "Uso de anotaciones de tipo, Interfaces, Tipos complejos, Tipos de unión",
  },
  {
    icon: "logos:javascript",
    title: "JavaScript",
    description:
      "Manejo del dom, dominio de funciones, variables, objetos, etc",
  },
  {
    icon: "logos:tailwindcss-icon",
    title: "Css",
    description: "Manejo de clases",
  },
  {
    icon: "logos:react",
    title: "React",
    description: "Hooks, componentes, estados, props",
  },
  {
    icon: "vscode-icons:file-type-html",
    title: "Html5",
  },
  {
    icon: "vscode-icons:file-type-node",
    title: "Node",
    description: "Express, rest api",
  },
  {
    icon: "logos:python",
    title: "Python",
  },
  {
    icon: "vscode-icons:file-type-git",
    title: "Git",
    description: "Manejo de repositorios",
  },
];
---

<div id="devSkills" class="sm:scroll-mt-16 scroll-mt-14" data-aos="fade-down">
  <p
    class="sm:text-6xl text-4xl text-violet-800 dark:text-violet-300 text-center"
  >
    Mis hablidades de desarrollo
  </p>
  <div class="flex flex-wrap justify-center items-center text-center">
    {
      skills.map(({ icon, title, description }) => (
        <Card title={title} description={description} icon={icon} />
      ))
    }
  </div>
</div>
